<a href="https://colab.research.google.com/github/Fitzpatrique/Cart-App/blob/main/Cart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
cart = {
    'Product Name':[],
    'Price':[],
    'Item Count':[],
    'Total Price':[]
}

In [3]:
cart_df = pd.DataFrame(cart,index=None)

In [4]:
cart_df

Empty DataFrame
Columns: [Product Name, Price, Item Count, Total Price]
Index: []

In [5]:
product_list = {
	'jumi':{
		'price': 99999,'color':['Default'], 'src': 'jumi bed.jpg'
	},
	'jumi prime':{
		'price': 59999,'color':['Default'], 'src': 'jumi prime bed.jpg'
	},
	'ada':{
		'price': 150000,'color':['grey','yellow','blue','green','beige'], 'src': 'ada 2.jpg'
	},
	'amakisi duo wardrobe':{
		'price': 150000,'color':['default'], 'src': 'wardrobe.jpg'
	},
	'amakisi single wardrobe':{
		'price': 89999,'color':['default'], 'src': 'wardrobe.jpg'
	},
	'seyi 6-seater':{
		'price': 349999,'color':['default'], 'src': 'seyi-6-seater-sofa-sofas-28998819217568.jpg'
	},
	'alausa':{
		'price': 249999,'color':['grey','yellow','blue','green','beige'], 'src': 'alausa.jpg'
	},
	'amakisi':{
		'price': 34999,'color':['black','white'], 'src': 'amakisi table.jpg'
	},
	'amakisi drawer':{
		'price': 44999,'color':['black','white'], 'src': 'amakisi table with drawer.jpg'
	},
	'femi':{
		'price': 44999,'color':['grey','yellow','blue','green','beige'], 'src': 'femi.jpg'
	},
	'segun':{
		'price': 39999,'color':['default'], 'src': 'segun.jpg'
	},
	'amakisi duo':{
		'price': 89999,'color':['default'], 'src': 'amakisi duo.jpg'
	},
	'amakisi prime':{
		'price': 49999,'color':['default'], 'src': 'amakisi-prime-sofas-29001262006432.jpg'
	},
	'bosun':{
		'price': 90000,'color':['default'], 'src': 'bosun.jpg'
	},
	'amakisi vip':{
		'price': 69999,'color':['default'], 'src': 'amakisi vip table.jpg'
	},
	'amakisi table with Chair':{
		'price': 59999,'color':['default'], 'src': 'amakisi vip table.jpg'
	},
	'kemi combo':{
		'price': 279999,'color':['default'], 'src': 'amakisi vip table.jpg'
	},
	'segun combo':{
		'price': 54999,'color':['default'], 'src': 'amakisi vip table.jpg'
	},
	'alausa combo':{
		'price': 3499999,'color':['default'], 'src': 'amakisi vip table.jpg'
	},
}

In [6]:
def addCart(name,price,item):
  global cart_df
  new_row = {'Product Name': name, 'Price': price, 'Item Count': item, 'Total Price': price*item}
  cart_df = cart_df.append(new_row, ignore_index=True)
  print(cart_df)

def removeCart(product):
  global cart_df
  if product in list(cart_df['Product Name']):
    cart_df.set_index('Product Name', inplace=True)
    cart_df.drop(product,inplace=True)
    cart_df.reset_index(inplace=True)
    print(cart_df)

def clearCart():
  global cart_df
  for i in range(cart_df.count()['Product Name']):
    cart_df.drop(labels=i, axis=0, inplace=True)
    print(cart_df)

In [7]:
product_list.keys()

dict_keys(['jumi', 'jumi prime', 'ada', 'amakisi duo wardrobe', 'amakisi single wardrobe', 'seyi 6-seater', 'alausa', 'amakisi', 'amakisi drawer', 'femi', 'segun', 'amakisi duo', 'amakisi prime', 'bosun', 'amakisi vip', 'amakisi table with Chair', 'kemi combo', 'segun combo', 'alausa combo'])

In [13]:
name = input('Enter Product Name: ')
if name in product_list.keys():
  price = product_list[name]['price']
  
else:
  name = input('Name not found; enter product name: ')

item = int(input('Enter number of items: '))

Enter Product Name: bosun
Enter number of items: 6

In [14]:
addCart(name,price,item)

  Product Name     Price  Item Count  Total Price
0         jumi   99999.0         3.0     299997.0
1          ada  150000.0         2.0     300000.0
2        bosun   90000.0         6.0     540000.0

In [21]:
print('Total price: ', sum(cart_df['Total Price']))
print('Total item count: ', sum(cart_df['Item Count']))

Total price:  0
Total item count:  0

In [17]:
cart_df[cart_df['Product Name'] == 'jumi']

  Product Name    Price  Item Count  Total Price
0         jumi  99999.0         3.0     299997.0

In [18]:
removeCart('jumi')

  Product Name     Price  Item Count  Total Price
0          ada  150000.0         2.0     300000.0
1        bosun   90000.0         6.0     540000.0

In [20]:
clearCart()

  Product Name    Price  Item Count  Total Price
1        bosun  90000.0         6.0     540000.0
Empty DataFrame
Columns: [Product Name, Price, Item Count, Total Price]
Index: []

In [22]:
cart_df

Empty DataFrame
Columns: [Product Name, Price, Item Count, Total Price]
Index: []